{% extends 'base.html' %}

{% block title %}{{ super() }} - Cursos{% endblock %}

{% block content %}

    <section class="container mt-3">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Cursos</h1>
                </div>
                <div class="col-sm-6">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#cadastrarModalCenter">
                        Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="container">
        <table id="reservasTable" class="display">
            <thead>
                <tr>
                    <th>Código</th>
                    <th>Curso</th>
                    <th>Descrição</th>
                </tr>
            </thead>
            <tbody>
                {% for curso in cursosList %}
                    <tr>
                        <td>{{curso.id}}</td>
                        <td>{{curso.titulo}}</td>
                        <td>{{curso.descricao}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <!-- /.content -->



    <!-- Modal -->
    <div class="modal fade" id="cadastrarModalCenter" tabindex="-1" role="dialog" aria-labelledby="cadastrarModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="cadastrarModalCenterTitle">Cadastrar Curso</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/cursos">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="tituloInput" class="col-form-label">Título:</label>
                        {{ form.titulo(class="form-control", id="tituloInput") }}
                        {% if form.errors.titulo %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.errors.titulo }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="descricaoInput" class="col-form-label">Descrição:</label>
                        {{ form.descricao(class="form-control", id="descricaoInput", type="textarea") }}
                    </div>                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
        </div>
    </div>


    {% endblock %}