{% extends 'base.html' %}

{% block title %}{{ super() }} - Funcionários{% endblock %}

{% block content %}

    <section class="container mt-3">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Funcionarios</h1>
                </div>
                <div class="col-sm-6">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary float-right" data-toggle="modal" data-target="#cadastrarModalCenter">
                        Cadastrar
                    </button>
                </div>
            </div>
        </div>
    </section>

    <!-- Main content -->
    <section class="container">
        <table id="reservasTable" class="display">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Matrí­cula</th>
                    <th>Cursos</th>
                </tr>
            </thead>
            <tbody>
                {% for funcionario in funcionariosList %}
                    <tr>
                        <td>{{funcionario.nome}}</td>
                        <td>{{funcionario.matricula}}</td>
                        <td>
                            {% for c in funcionario.cursos %}
                            {{c.titulo}}; 
                            {% endfor %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    <!-- /.content -->


    <!-- Modal -->
    <div class="modal fade" id="cadastrarModalCenter" tabindex="-1" role="dialog" aria-labelledby="cadastrarModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="cadastrarModalLongTitle">Cadastrar Funcionário</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/index">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label for="nomeInput" class="col-form-label">Nome:</label>
                        {{ form.nome(class="form-control", id="nomeInput") }}
                        {% if form.errors.nome %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.errors.nome }}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="matriculaInput" class="col-form-label">Matícula:</label>
                        {{ form.matricula(class="form-control", id="matriculaInput") }}
                        {% if form.errors.matricula %}
                            <div class="alert alert-danger" role="alert">
                                {{ form.errors.matricula }}
                            </div>
                        {% endif %}
                    </div>      
                    <div class="form-group">
                        <label for="selectCursos" class="col-form-label">Selecione os cursos:</label>
                        {{ form.cursos(class="custom-select", multiple="true", id="selectCursos" ) }}
                    </div>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Sair</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
        </div>
    </div>

{% endblock %}